<%= form_for(application) do |f| %>
  <fieldset>
    <% if @application.errors.any? %>
      <div class="alert-message error" data-alert><a class="close" href="#">×</a><p>Whoops! Check your form for possible errors</p></div>
    <% end %>

    <div class="clearfix">
      <%= f.label :name %>
      <div class="input">
        <%= f.text_field :name %>
      </div>
    </div>

    <div class="clearfix">
      <%= f.label :redirect_uris %>
	  <%= f.fields_for :application_redirect_uris do |redirect_uri| %>
	    <div class="input redirect_uri">
	      <%= redirect_uri.text_field :redirect_uri, :disabled => redirect_uri.object.persisted? %>
	      <% if redirect_uri.object.persisted? %>
	        <%= redirect_uri.check_box :_destroy, :class => "destroy" %>
	        <%= redirect_uri.label :_destroy, "Delete URI", :class => "destroy" %>
	      <% end %>
	    </div>
      <% end %>
    </div class="clearfix">

    <div class="actions">
      <%= f.submit :Submit, :class => "btn primary" %>
      <%= link_to "Cancel", applications_path, :class => "btn" %>
    </div>
  </fieldset>
<% end %>

